<!-- html-webpack-plugin 插件会默认以该文件为模板 -->
<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
      <title>React Template</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
      <div id="root"></div>
    </body>
</html>
